# **PYTHON TUTORIALS FOR STUDENTS** </br> *BY JOOJO WALKER*

## **LESSON FOUR**

**LISTS**

A **list** is a value that contains multiple values in an ordered sequence.

A list can contain multiple values of different types.

They are a useful data structure in python that helps in dealing with diverse kinds of data.

A list can be represented as follows:

- names=["Ama", "Esi", "Isaac", "Judy", "Zheng","Yu","Trumpy"]

In [1]:
# Examples of a List

market_list=["eggs", "tomatoes","apples", "oil", "salt", 4, 7.05, True, False, 0.001]

In [2]:
print(market_list)

['eggs', 'tomatoes', 'apples', 'oil', 'salt', 4, 7.05, True, False, 0.001]

In [3]:
l = [1,3,5,6,9,"Software","school","in","China"]

In [4]:
print(l)

[1, 3, 5, 6, 9, 'Software', 'school', 'in', 'China']

In [5]:
# List Concantenation and Replication
market_list + l

['eggs',
 'tomatoes',
 'apples',
 'oil',
 'salt',
 4,
 7.05,
 True,
 False,
 0.001,
 1,
 3,
 5,
 6,
 9,
 'Software',
 'school',
 'in',
 'China']

In [7]:
l*3

[1,
 3,
 5,
 6,
 9,
 'Software',
 'school',
 'in',
 'China',
 1,
 3,
 5,
 6,
 9,
 'Software',
 'school',
 'in',
 'China',
 1,
 3,
 5,
 6,
 9,
 'Software',
 'school',
 'in',
 'China']

In [7]:
# List Index 
# Negative Index

In [8]:
print(market_list)

['eggs', 'tomatoes', 'apples', 'oil', 'salt', 4, 7.05, True, False, 0.001]

In [8]:
market_list [2]

'apples'

In [9]:
market_list[9]

0.001

In [10]:
market_list[-1]

0.001

In [11]:
len(market_list)

10

In [12]:
market_list[len(market_list)-1]

0.001

In [13]:
market_list[-10]

'eggs'

## Slicing of List

In [14]:
market_list[1:-2]

['tomatoes', 'apples', 'oil', 'salt', 4, 7.05, True]

In [15]:
market_list[1:-2:2]

['tomatoes', 'oil', 4, True]

In [16]:
market_list[1:-1:2]

['tomatoes', 'oil', 4, True]

In [17]:
market_list[0:-1:2]

['eggs', 'apples', 'salt', 7.05, False]

In [18]:
market_list[ : :2]

['eggs', 'apples', 'salt', 7.05, False]

In [19]:
market_list[-1: :-1]

[0.001, False, True, 7.05, 4, 'salt', 'oil', 'apples', 'tomatoes', 'eggs']

In [21]:
market_list[-1:0:]

[]

In [15]:
# Slicing Lists/Sub list
#list(range(1,10,2))
market_list[::-1]

[0.001, False, True, 7.05, 4, 'salt', 'oil', 'apples', 'tomatoes', 'eggs']

## Lists of List

In [22]:
l_matrix=[[2,2,4],[5,6,8]]

In [23]:
print(l_matrix)

[[2, 2, 4], [5, 6, 8]]

In [26]:
l_matrix[0] # access the first list

[2, 2, 4]

In [27]:
l_matrix[0][2]

4

In [28]:
l_matrix[1]

[5, 6, 8]

In [29]:
l_matrix[1][1]

6

In [14]:
l_matrix[1][2]

8

In [30]:
l_matrix[1][1:2:1]

[6]

In [31]:
l_matrix[1][1:2]

[6]

In [32]:
l_matrix[1][1:-1:1]

[6]

In [36]:
l_matrix[1][1:]

[6, 8]

In [38]:
l_matrix[1][1: :-1]

[6, 5]

#### List Methods

In [39]:
print(l)

[1, 3, 5, 6, 9, 'Software', 'school', 'in', 'China']

In [40]:
l.append("teach")
print(l)

[1, 3, 5, 6, 9, 'Software', 'school', 'in', 'China', 'teach']

In [41]:
l.pop()

'teach'

In [42]:
l

[1, 3, 5, 6, 9, 'Software', 'school', 'in', 'China']

In [43]:
l.pop(4)

9

In [44]:
l

[1, 3, 5, 6, 'Software', 'school', 'in', 'China']

In [45]:
l.insert(5,"UESTC")

In [20]:
l

[1, 3, 5, 6, 'Software', 'UESTC', 'school', 'in', 'China', 'teach']

In [46]:
l.remove(3)

In [47]:
l

[1, 5, 6, 'Software', 'UESTC', 'school', 'in', 'China']

In [49]:
x=l

In [50]:
del(l[0:2])

In [51]:
print(l)

[6, 'Software', 'UESTC', 'school', 'in', 'China']

In [26]:
# Working with List

### Working with List Exercises

Using the **in** and **not in** operator and **for and while loops**

- Given a list of ints, return the number of 9's in the list.

- Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

In [52]:
print(market_list)

['eggs', 'tomatoes', 'apples', 'oil', 'salt', 4, 7.05, True, False, 0.001]

In [53]:
"eggs" not in market_list

False

In [54]:
"eggs" in market_list

True

In [55]:
def count_nine(l):
    count = 0
    for i in l:
        if i==9:
            count += 1
        else:
            count += 0
    return count

In [56]:
nums = [5,1,9,8,9,9,9,0]

In [57]:
count_nine(nums)

4

In [58]:
nums2 = [5,1,19,8,19,19,19,0]

In [59]:
count_nine(nums2)

0

In [30]:
def count_nine1(l):
    count = 0
    for i in range(len(l)):
        if l[i]==9:
            count += 1
        else:
            count += 0
    return count

In [40]:
def count_nine2(l):
    i = 0
    count = 0
    while i < len(l):
        if l[i]==9:
            count += 1
        else:
            count += 0
        i += 1
    return count

In [45]:
def count_nine3(l):
    return l.count(9)

In [96]:
ll=[9]

In [97]:
count_nine3(ll)

1

In [56]:
x = [1,2,8,6,8,1,5,3,6,7,8]

In [62]:
x[i:i+3]

[8, 1, 5]

In [63]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [64]:
def find123(l):
    count=0
    for i in range(len(l)):
        if l[i:i+3]==[1,2,3]:
            count += 1
        else:
            count += 0
            
    if count >= 1:
        return True
    else:
        return False

In [65]:
find123(x)

False

### Tuples

Tuples are immutable list. A tuples value cannot be modified, appended or removed or deleted.

In [60]:
l_tup = ("t","y",1,1,2,3,4)

In [61]:
print(l_tup)

('t', 'y', 1, 1, 2, 3, 4)

In [62]:
l_tup[-1]

4

In [63]:
l_tup[0:4]

('t', 'y', 1, 1)

In [64]:
l_tup.append(u)

AttributeError: 'tuple' object has no attribute 'append'

In [65]:
l_tup.index("y")

1

In [66]:
l_tup.count(1)

2

In [67]:
del(l_tup[2:4])

TypeError: 'tuple' object does not support item deletion

In [68]:
l_tup2list = list(l_tup)

In [69]:
print(l_tup2list)

['t', 'y', 1, 1, 2, 3, 4]

In [70]:
l_tup2list.append("u")

In [71]:
print(l_tup2list)

['t', 'y', 1, 1, 2, 3, 4, 'u']

In [72]:
c_tup = l_tup

In [73]:
c_tup = c_tup + (5,7,8)

In [74]:
print(c_tup * 3)

('t', 'y', 1, 1, 2, 3, 4, 5, 7, 8, 't', 'y', 1, 1, 2, 3, 4, 5, 7, 8, 't', 'y', 1, 1, 2, 3, 4, 5, 7, 8)

In [75]:
print(l_tup)

('t', 'y', 1, 1, 2, 3, 4)

### Exercise

Given an array of ints, return True if one of the first 4 elements in the array is a 9. The array length may be less than 4.

- array_front9([1, 2, 9, 3, 4]) → True
- rray_front9([1, 2, 3, 4, 9]) → False
- array_front9([1, 2, 3, 4, 5]) → False