# **PYTHON TUTORIALS FOR STUDENTS** </br> *BY JOOJO WALKER*

## **LESSON ONE**

**WHY PYTHON?**

Python is extremely useful. Check out the images below for reasons why you should learn python.

![Reasons for Python number 1!](reasons.jpg)

![Reasons for Python number 2!](reason2.jpg)

**EXPRESSIONS**

An expression which is the most basic programming instruction consist of values and operators. They always evaluate to a single value

In [1]:
2 + 2

4

In [2]:
"a" + "b"

'ab'

In [4]:
k + "3" # Showing incorrect Expressions

NameError: name 'k' is not defined

In [6]:
"-" * 3

'---'

In [7]:
"ab"

'ab'

**OUR FIRST PROGRAM**

In [49]:
myclass= "Sarpong "

In [50]:
len(myclass)

8

In [52]:
ttt = input()

 7777777

In [53]:
type(ttt)

str

In [54]:
ttt + 3

TypeError: can only concatenate str (not "int") to str

In [55]:
int(ttt) + 3

7777780

In [56]:
yyyy = input()

 tererer

In [57]:
type(yyyy)

str

In [61]:
myclass[-3]

'n'

In [58]:
myclass[7]

' '

In [55]:
print("Hello" + " " + "Pythonista")
print("What is your name?") #provide your name
myName = input("Type your name here  ")
print("It is good to meet you, "+ myName)a
num = len(myName)
print("Your name has" + str(num) + "characters")
print(f"Your name has {num} characters")

Hello Pythonista
What is your name?

Type your name here   six

It is good to meet you, six
Your name has 3 characters

In [58]:
print("Your name has " + str(num) + " characters" + str(num) + " characters" + str(num) + " characters" + str(num) + " characters")

Your name has 3 characters3 characters3 characters3 characters

In [59]:
print(f"Your name has {num} {num} {num} {num} {num} characters {num} characters")

Your name has 3 3 3 3 3 characters 3 characters

In [62]:
print(f"{num}")

3

In [10]:
54/num

27.0

In [12]:
54/int(myName)

2.0

In [53]:
len("Fa        rid                     ")

34

**VARIABLES AND DATA TYPES**  

Variables are **temporarily** used to **store data** in the memory of a computer. It is **created(initialized)** the first time a value is stored in it. A variable's value is **overwritten** once a new value is assigned to it.

The underlisted shows us, how to use variables in Python.
- age = 27  (Represent the **integer type**: a whole number without a decimal point)
- score = 87.9  (Represent the **float type**: a number with a decimal point)
- course_name = "Machine Learning"  (Represent the **string type**: a sequence of characters)
- is_present = False   (Represent the **Boolean type**: these values are either True or False)

*NB: Variable names can't begin with a number. The first letter of the Boolean value should always be an upper case letter. Variables in Python are also case sensitive*

In [14]:
age= 34
print(age)

34

In [16]:
score= 98.99
print(score)

98.99

In [18]:
course_name="Deep Neural Networks"
print(course_name)

Deep Neural Networks

In [1]:
is_absent=True

In [3]:
is_present=False

In [22]:
12unet=34 #Showing incorrect variable types

SyntaxError: invalid syntax (<ipython-input-22-a3fdd1713cf4>, line 1)

In [23]:
Age=45

In [24]:
print(age)
print(Age)

34
45

**COMMENTS**

We use comments to add notes to our code. Good comments explain the hows and
whys, not what the code does. That should be reflected in the code itself. Use
comments to add reminders to yourself or other developers, or also explain your
assumptions and the reasons you’ve written code in a certain way.

In [25]:
#This is my comment

In [26]:
# score=78

In [ ]:
print(score)

**TYPE CONVERSION**

We can convert a variable or value from one data type to another easily in Python

In [27]:
p="34"

In [28]:
type(p)

str

In [29]:
p=int(p)
print(p)

34

In [30]:
type(p)

int

In [32]:
y = 2
type(y)

int

In [33]:
float(y)

2.0

In [34]:
a="file"

In [35]:
int(a)

ValueError: invalid literal for int() with base 10: 'file'

In [36]:
t = str(y)
print(t)
type(t)

2

str

In [40]:
"#"* 1

'#'

In [46]:
"a" + "a" + "b" + "    " + "l"

'aab    l'

In [49]:
"SpexialFarid" * 50

'SpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFaridSpexialFarid'

**RECEIVING INPUTS**  
We can receive input from the user by calling the input() function.

In [4]:
name=input("What is your name? ")
age=input("How old are you? ")

What is your name?  Ernest
How old are you?  75

In [5]:
print(f"Hello {name}!")

Hello Ernest!

In [6]:
print(f"You will be {age + 1} next year")

TypeError: can only concatenate str (not "int") to str

In [7]:
print(f"You will be {int(age) + 1} next year")

You will be 76 next year

*NB: The input() function always returns data as a string. So, we’re converting the
result into an integer by calling the built-in int() function.*

**STRINGS**

We can define strings using single (‘ ‘) or double (“ “) quotes.  
To define a multi-line string, we surround our string with tripe quotes ('''''').  
We can get individual characters in a string using square brackets [].  


We can slice a string using a similar notation:  
**course_name[1:5]**

The above expression returns all the characters starting from the index position of 1
to 5 (but excluding 5). 

If we leave out the start index, 0 will be assumed.
If we leave out the end index, the length of the str

We can use **formatted strings** to dynamically insert values into our strings:

name = "Joojo Walker"

**message = f’Hi, my name is {name}’**

In [8]:
a_str="Good"

b_str="Morning"

print(a_str+b_str)

print(a_str*15)

print("Hello" + " " + "and" + " " +  a_str + " " + b_str)

print(f"Hello and {a_str} {b_str}")

GoodMorning
GoodGoodGoodGoodGoodGoodGoodGoodGoodGoodGoodGoodGoodGoodGood
Hello and Good Morning
Hello and Good Morning

In [9]:
print(f"I am an Engineering student in China")

I am an Engineering student in China

In [10]:
print("Hello and a_str b_str")

Hello and a_str b_str

In [11]:
print("a"+ " " + "bc")

a bc

In [12]:
course_name = "Advanced Deep Neural Networks"
print(course_name[0]) # returns the first character
print(course_name[1]) # returns the second character
print(course_name[-1]) # returns the first character from the end
print(course_name[-2]) # returns the second character from the end

A
d
s
k

In [19]:
lis = [5,3,4,5,7,8,9,0]

In [23]:
lis[::-1]

[0, 9, 8, 7, 5, 4, 3, 5]

In [27]:
course_name[:3:-1]

'skrowteN larueN peeD decn'

In [28]:
name= "Derrick Ankomah"

message=f"Hi, my name is {name}"

print(message)

Hi, my name is Derrick Ankomah

In [29]:
message.upper()

'HI, MY NAME IS DERRICK ANKOMAH'

In [30]:
message.lower()

'hi, my name is derrick ankomah'

In [31]:
message.title()

'Hi, My Name Is Derrick Ankomah'

In [32]:
message.find("r") # returns the index of the first occurrence of r (or -1 if not found)

17

In [33]:
message.find("m")

4

In [34]:
message.find("M")

-1

In [35]:
message.replace("m","Z")

'Hi, Zy naZe is Derrick AnkoZah'

In [36]:
len(message)

30

*To check if a string contains a character (or a sequence of characters), we use the **in** operator.*

*contains = ‘m’ in message*

In [39]:
contains = "q" in message

In [40]:
print(contains)

False

In [63]:
import math
import cmath

print("THIS IS OUR QUADRATIC EQUATION PROGRAM")
print("\n")


def quadratic(a, b, c):
    if a == 0:
        return "This can't be a quadratic equation,Check and Try again"
    else:
        discriminant = b**2-4*a*c 
        if discriminant >= 0:
            X1 = (-b + math.sqrt(discriminant))/(2*a)
            X2 = (-b - math.sqrt(discriminant))/(2*a)
        else:
            X1 = (-b + cmath.sqrt(discriminant))/(2*a)
            X2 = (-b - cmath.sqrt(discriminant))/(2*a)
        return X1, X2


print("PLEASE ENTER YOUR THE COEFFICIENTS OF THE EQUATION")

a = int(input("a"))
b = int(input("b"))
c = int(input("c"))

print(quadratic(a, b, c))

THIS IS OUR QUADRATIC EQUATION PROGRAM


PLEASE ENTER YOUR THE COEFFICIENTS OF THE EQUATION

a 5
b 1
c 1

((-0.1+0.4358898943540674j), (-0.1-0.4358898943540674j))

**LESSON ONE EXERCISES**

In [ ]:
our_string = "ThequickBrownfox"
print(len(our_string))
print(our_string.upper())
print(our_string*5)

ff = "Hillary"


def mixstr(u):
    a = u.upper()
    b = u.lower()
    return a+b+a+b


print(mixstr(our_string))
print(mixstr(ff))

Go to CodingBat Python section for more practise questions.
https://codingbat.com/python