### SETS

A set is an unordered collection of elements without duplicate entries.
When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

**Basically, sets are used for membership testing and eliminating duplicate entries**

In [1]:
L = [2,3,4,5,6,3,3,5,6,7,2,2,2,2,2,4,5,6]

In [2]:
len(L)

18

In [3]:
L_set = set(L)

In [4]:
L_set

{2, 3, 4, 5, 6, 7}

In [5]:
D_set = {3,4,5,7,9,0,1,3}

In [6]:
type(D_set)

set

In [7]:
D_set

{0, 1, 3, 4, 5, 7, 9}

In [8]:
K_set = {4,6,8,9,11,16,17}

In [9]:
type(K_set)

set

In [10]:
K_set.add(23)

In [11]:
K_set.add(67)

In [12]:
K_set.add(11)

In [13]:
K_set

{4, 6, 8, 9, 11, 16, 17, 23, 67}

In [14]:
K_set.add("President Sarpong Ernest")

In [15]:
Ghana=1957

In [16]:
K_set.add(Ghana)

In [18]:
K_set

{11, 16, 17, 1957, 23, 4, 6, 67, 8, 9, 'President Sarpong Ernest'}

In [19]:
L[1] #L list

3

In [20]:
K_set.intersection(L_set)

{4, 6}

In [22]:
K_set.union(L_set)

{11, 16, 17, 1957, 2, 23, 3, 4, 5, 6, 67, 7, 8, 9, 'President Sarpong Ernest'}

In [23]:
K_set.difference(L_set)

{11, 16, 17, 1957, 23, 67, 8, 9, 'President Sarpong Ernest'}

In [24]:
L_set.difference(K_set)

{2, 3, 5, 7}

In [25]:
I_set ={8,9,11}

In [26]:
I_set.issubset(K_set)

True

In [27]:
K_set.issuperset(I_set)

True

In [28]:
L_set.issuperset(I_set)

False

In [29]:
K_set.union(L_set).difference(K_set.intersection(L_set))

{11, 16, 17, 1957, 2, 23, 3, 5, 67, 7, 8, 9, 'President Sarpong Ernest'}

# DICTIONARIES

In [30]:
student_grade ={"Derrick":95, "Edwin":97, "Stephen":100, "Raj": 95}

In [31]:
marks = [95,97,100,95]

In [32]:
marks[0]

95

In [33]:
student_grade[1]

KeyError: 1

In [35]:
student_grade["Derrick"]

95

In [36]:
student_grade.keys()

dict_keys(['Derrick', 'Edwin', 'Stephen', 'Raj'])

In [37]:
student_grade.values()

dict_values([95, 97, 100, 95])

In [38]:
student_grade.items()

dict_items([('Derrick', 95), ('Edwin', 97), ('Stephen', 100), ('Raj', 95)])

In [39]:
student_grade.pop("Raj")

95

In [40]:
student_grade

{'Derrick': 95, 'Edwin': 97, 'Stephen': 100}

### Adding Elements to the Dictionary

In [41]:
student_grade["Robert"] = 95

In [42]:
student_grade["Ernest"] = 99

In [43]:
student_grade

{'Derrick': 95, 'Edwin': 97, 'Stephen': 100, 'Robert': 95, 'Ernest': 99}

In [45]:
student_grade["Governor"] = 98

In [46]:
student_grade["Edward"] = 99.5

In [47]:
student_grade["Jenny"] = [78,89,99,85]

In [48]:
student_grade

{'Derrick': 95,
 'Edwin': 97,
 'Stephen': 100,
 'Robert': 95,
 'Ernest': 99,
 'Governor': 98,
 'Edward': 99.5,
 'Jenny': [78, 89, 99, 85]}

In [49]:
student_grade["Jenny"]

[78, 89, 99, 85]

In [50]:
student_grade["Jenny"][1]

89

In [51]:
student_grade['Jenny'][3]

85

In [53]:
student_grade['Jenny'][-1]

85

In [54]:
for i in student_grade.items():
    print(i)

('Derrick', 95)
('Edwin', 97)
('Stephen', 100)
('Robert', 95)
('Ernest', 99)
('Governor', 98)
('Edward', 99.5)
('Jenny', [78, 89, 99, 85])

In [55]:
for elem in student_grade.keys():
    print(elem)

Derrick
Edwin
Stephen
Robert
Ernest
Governor
Edward
Jenny

In [56]:
for elem in student_grade.values():
    print(elem)

95
97
100
95
99
98
99.5
[78, 89, 99, 85]

In [45]:
#Write a Python program to get the top three items in a shop
shop = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

In [46]:
m= [5,17,8,19,1.0]

In [47]:
sorted(m, reverse=True)

[19, 17, 8, 5, 1.0]

In [48]:
sorted(shop.values(),reverse=True)

[55, 45.5, 41.3, 35, 24]

In [49]:
#Follow my clues to solve the question

In [88]:
newShoplist= list(shop.items())
newShoplist

[('item1', 45.5), ('item2', 35), ('item3', 41.3), ('item4', 55), ('item5', 24)]

In [89]:
def oursort(l):
    return l[1]

In [91]:
top_item = sorted(newShoplist,reverse=True, key = oursort)
for elem in top_item[:3]:
    print(elem[0])

item4
item1
item3